@import 'layout/padding.css';
@import 'layout/margin.css';
@import 'layout/width.css';
@import 'layout/positions.css';
@import 'layout/display.css';
@import 'layout/font.css';
@import 'layout/background.css';
@import 'layout/height.css';
@import 'layout/border.css';
@import 'layout/line-height.css';
@import 'layout/transform.css';
@import 'layout/box-shadow.css';

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(255,255,255,0.7); /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, rgb(220,190,190), rgb(250,250,250));
}

button, input, p, h1 {
    border: none;
    padding: 0;
    margin: 0;
    color:rgba(0, 0, 0, 0.6);
    outline: none;
}

button:hover, .WatchItem:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px inset, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px inset, rgba(0, 0, 0, 0.2) 0px -3px 0px;
    color:rgba(0, 0, 0, 0.4);
}

.WatchItem:hover {
  border-radius: 10px;
}

.globe {
    animation: rotation 15s infinite linear;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

@media screen and (min-width: 760px) {
    body {
        width: 760px;
        margin: auto;
    }
  }

